header
  .container
    position: relative
    top: 28%
    text-align: center

    .intro-lead-in
      font:
        size: 72px
        weight: 700
      color: white
      text-transform: uppercase
      letter-spacing: 0.05em
      margin-bottom: 20px
      clear: both

      .intro-heading
        display: inline-block
        padding: 0.2em 0.5em
        border: white solid 10px

    .kicker
      @extend %small-bold
      letter-spacing: 0.05em
      color: white
      line-height: 1



  .down
    @extend %jump
    animation-iteration-count: infinite
    position: absolute
    bottom: 0px
    right: 48%


    a
      color: pink
      img
        +size(50px)

@media (max-width: 640px)
  header

    .title-description
      top: 5%

    .down
      right: 44%

    h1
      padding-top: 0px
